{% if scriptJs %}
    <script src="{{ prefix }}script.js"></script>
{% endif %}
{% if lightboxScript == "end" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
{% endif %}
