{% if scriptJs %}
    <script src="{{ prefix }}script.js"></script>
{% endif %}
{% if lightboxScript == "end" %}
    <script src="{{ prefix }}vendor/lightbox2/js/lightbox.min.js"></script>
{% endif %}
